.App {
  text-align: center;
  color: white;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 10px; 
}

nav ul li a, a {
  text-decoration: none;
}

.a_logo_accueil {
  display: block;
  width: 80px;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.logo_accueil {
  display: block;
  background-image: url("media/logo11.png");
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  box-shadow: rgb(0, 0, 0) 5px 5px 10px;

  animation: rotate 10s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes rotate{
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
/****** Liste des documents ********/

.gros_titre_couleur {
 /* color: #fa7a0a;*/
  font-family: 'Harry Potter', sans-serif;
  letter-spacing: 5px;
  font-size: 3vw;

  text-shadow: #000 10px 0 15px;
  background: linear-gradient(to left,#aaa 20%, #fa7a0a 40%, #fa7a0a 60%, #7DF9FF 80%, #aaa 100%);
  background-size: 200% auto;
  color: #000 ;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 10s linear infinite;
}

.card_ajouter_doc {
  width: 550px;
/*  height: 10vw;*/
  margin: auto;
  margin-bottom: 5%;
  border-radius: 5px;
  display: flex;
}

.bulle {
  height: 130px;
}
.hermione {
  height: 300px;
}

.card_ajouter_doc a {
  margin: auto;
  background: #eee;
  border-radius: 50px;
  animation: zoom-in-zoom-out 5s ease infinite;
}

.card_ajouter_doc span {
  display: block;
  background-image: url("media/add_doc.png");
  width: 100px;
  height: 100px;
  background-size: 70%;
  background-position-x: 70%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  border-radius: 50px;

  /* box-shadow: rgb(0, 0, 0) 5px 5px 10px;*/ 
}

/*************************************/

/************* LES LISTES (tables) ****************/

table {
  width: 90%;
  display: table;
  color: black;
  margin: 5%;
  border: 2px solid white;
  border-radius: 5px;
  border-spacing: 3px;
  padding: 10px;
  
}

.liste_ALL{
  background-image: url("media/arts1.gif");
  /*  background-repeat: no-repeat;
    background-size: cover;*/
}

.liste_STS{
  background-image: url("media/sciences2.jpg");
}

.liste_DEG{
  background-image: url("media/droit.jpg");
}

.liste_SHS{
  background-image: url("media/social.png");
}

table a {
  color: /*#551a8b*/#fa7a0a;
  font-weight: bold;
}

tr {
  background: #eee;
  box-shadow: #000 2px 0 5px;
}

td {
  padding: 5px;
}


/********************** DETAIL DOCUMENT ******************************/
.frame_detail {
  width: 60%;
    display: block;
    margin: auto;
    height: 1000px;
    margin-top: 5%;
    margin-bottom: 8%;
    background: white;
}

pre {
  color: white;
}

.harry {
  height: 250px;
  margin-right: 10%;
}
/***********************************************************************/