.App {
  text-align: center;
}


.a_icon_read {
  display: block;
  width: 20px;
}



.icon  {
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.icon_read  {
  background-image: url("media/visibility.png");
}


.icon_valider  {
  background-image: url("media/check.png");
}

.icon_supprimer  {
  background-image: url("media/delete.png");
}



a {
  cursor: pointer;
}